.contact {
  margin: 0;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 43px;
}

.contactLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
}

.contactLabel label {
  font-family: "Inria Serif";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
}

.contactLabel input {
  margin-bottom: 66px;
  width: 280px;
  height: 40px;
  border-radius: 5px;
  background: #fff;
}

.form-label {
  color: #1c4139;
}

.submitButton {
    background-color: #1c4139;
    color: #e9bbb1 !important;
    margin-top: 66px;
    margin-bottom: 52px;
}

.submitButton:hover {
    background-color: #e9bbb1;
    color: #1c4139 !important;
}