.contact {
  margin-top: 43px;
  font-family: "Inria Serif";
  /* margin: 0; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 66px;
}

.contactLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
}

.contactLabel label {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 22px;
}

.contactLabel input {
  margin-bottom: 66px;
  width: 280px;
  height: 40px;
  border-radius: 5px;
  background: #fff;
}

.form-label {
  color: #1c4139;
}

.form-control {
  width: 280px;
  height: 40px;
  border-radius: 5px;
  background: #fff;
}

.submitButton {
  background-color: #1c4139;
  color: #e9bbb1 !important;
  margin-top: 66px;
  margin-bottom: 52px;
}

.submitButton:hover {
  color: #e9bbb1 !important;
}
