.body {
    font-family: 'Playfair Display', serif;
    color: white;
    background-color: #1c4139;
}

.home {
    margin-top: 0;
}

a {
    text-decoration: none;
    color: #edc1b6;
}

a:hover {
    text-decoration: none;
}

.categoryLinks {
    margin-top: 20px;
}

.categoryLinks p {
    margin-left: 13px;
    font-size: large;
}

.categoryLinks button {
    margin: 0 5px 10px 13px;
    background-color: #edc1b6;
}

.categoryLinks button:hover {
    background-color: #1c4139 !important;
    color: #edc1b6 !important;
}