body {
    background-color: #1c4139;
}

.filterButtons {
    padding: 30px 10px 0 10px;
}

.btn {
    font-family: 'Playfair Display', serif;
    width: 120px;
    background-color: #edc1b6;
}

.btn:hover {
    background-color: #1c4139 !important;
    color: #edc1b6 !important;
}

.dropdownButton {
    margin-top: 10px;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.dropdown-menu {
    position: absolute;
    background-color: #edc1b6;
    top: 100%;
    left: 0;
}

.dropdown-item:hover {
    background-color: #1c4139 !important;
    color: #edc1b6 !important;
}

.allButton {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

a {
    font-family: 'Playfair Display', serif;
    color: white;
}

.products {
    padding: 15px 0 0 15px;
    background-color: #1c4139;
    margin-bottom: 15px;
}