/* .dropdown {
    position: relative;
    display: inline-block;
} */

ul {
    font-family: 'Playfair Display', serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1c4139;
    font-size: larger;
    z-index: 101;
    position: relative !important;
}

/* .dropdown-content {
    display: none;
    position: absolute;
    background-color: #1c4139;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    right: 0;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
} */

.name {
    margin-right: 15px;
}

li {
    float: left;
}

li a:hover:not(.active) {
    background-color: #edc1b6;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active {
    float: right;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
}

.cart-logo {
    text-align: center;
    padding-bottom: 5px;
}