ul {
    font-family: 'Playfair Display', serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1c4139;
    font-size: larger;
    z-index: 101;
    position: relative !important;
}

.name {
    margin-right: 15px;
}

li {
    float: left;
}

li a:hover:not(.active) {
    background-color: #edc1b6;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active {
    float: right;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
}

.cart-logo {
    text-align: center;
    padding-bottom: 5px;
}