div {
  background-color: #e9bbb1;
}

.HeaderLine {
  border: 3px solid #1c4139;
  width: 100%;
}

ul {
  font-family: "Inria Serif", serif;
  background-color: #e9bbb1;
  list-style-type: none;
  margin-top: 32px;
  margin-left: 110px;
  margin-right: 110px;
  margin-bottom: 0;
  padding: 0;
  overflow: hidden;
  font-size: larger;
  z-index: 101;
  position: relative !important;
}

.name {
  margin-right: 15px;
}

li {
  float: left;
}

li a:hover {
  background-color: #1c4139 !important;
  color: #e9bbb1;
}

li a:hover:not(.active) {
  background-color: #edc1b6;
}

li a {
  display: block;
  color: #1c4139;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  line-height: 1.5;
}

.active {
  float: right;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
}

.cart-logo {
  text-align: center;
  padding-bottom: 5px;
}

@media (max-width: 600px) {
  li {
    float: none;
    width: 100%;
    text-align: center;
  }

  .active {
    float: none;
    width: 100%;
    text-align: center;
  }
}
